//color
$green:#3CB815;
$orang:#F65005;
$black:black;
$light: #F7F8FC;
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orang: #fd7e14;
$yellow: #ffc107;

$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
//font-size
$h1 : "h1";
$h2 : "h2";
$h3 : "h3";
$h4 : "h4";
$h5 : "h5";
$h6 : "h6";
//font-family
$h1-family: 'Acme',
sans-serif;